/* declaration block: selector{ property:value;*/

body{background-color: aquamarine;
color: rgb(94, 61, 61);}
nav{height: 600px;
width: 180px;
float: left;
padding: 8px ;
line-height: 30px;
/* adding a border to play with it */
border: 3px solid burlywood;
/* found out i can add shadow */
box-shadow: 3px 3px 10px rgba(0, 0,0,0.4);
/* round it out i think */
border-radius: 8px;

}
.game-intro {
    text-align: center;
    margin: 50px auto; /* This will center the block and add space */
    width: 60%; /* You can adjust this width to your preference */
}
footer{text-align: center;
margin: 200px;
}

#memeImage{margin-right: 200px;
width: 400px;
/* shift img from left */
margin-left: 245px;
/* needs to be further up so i set to -500 */
margin-top: -500px;
}

h1{text-align: center;}
/* do not forget # */
#b1{
margin-left: 245px;
padding: auto;


}